<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="lib/vue-2.4.0.js"></script>
    <link rel="stylesheet" href="./lib/bootstrap-3.3.7.css">
</head>
<body>
    <div id="app">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">添加品牌</h3>
            </div>
            <div class="panel-body form-inline">
                <label>
                    id: <input type="text" class="form-control" v-model="id">
                </label>
                <label>
                    name: <input type="text" class="form-control" v-model="name" @keyup.enter="add()">  <!-- 监听 enter 按键，按下 enter 按键的时候触发add方法-->
                </label>
                <!-- 在Vue中使用事件绑定机制，为元素指定出来函数的时候，如果加了小括号就可以给函数传参了 -->
                <input type="button" value="添加" class="btn btn-primary" @click="add()">

                <label>
                    搜索名称关键字: <input type="text" class="form-control" v-model="keywords" id="search" v-focus v-color="'blue'">
                </label>
            </div>
        </div>

        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Ctime</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody>
                <!-- 自定义search方法， keywords 为搜索关键字
                    在search方法内部，通过执行for循环，把所有符合搜索关键字的数据，保存到一个新的数组中返回 -->
                <tr v-for="item in search(keywords)" :key="item.id">
                    <td>{{item.id}}</td>
                    <td v-text="item.name"></td>
                    <td>{{item.Ctime | dateFormat("yyyy-MM-DD")}}</td>
                    <td>
                        <a href="" @click.prevent="del(item.id)">删除</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="app2">
        <h3 v-color="'pink'" v-fontweight="900"  v-fontsize="'50px'">{{ dt | dateFormat }}</h3>
    </div>
    <script>

        // 全局过滤器, 所有的vm实例都可以共享
        Vue.filter("dateFormat", function(dataStr, pattern){
            // 根据给定的实际字符串，得到特定的时间
            var dt = new Date(dataStr)

            var y = dt.getFullYear()
            var m = dt.getMonth() + 1
            var d = dt.getDate()
            
            //return y + '-' + m + '-' + 'd'
            //return `${y}-${m}-${d}`  // 模板字符串

            if(pattern.toLowerCase() === "yyyy-mm-dd"){   //  === 表示严格相等
                return `${y}-${m}-${d}`
            }else{
                var hh = dt.getHours()
                var mm = dt.getMinutes()
                var ss = dt.getSeconds()
                return `${y}-${m}-${d} ${hh}:${mm}:${ss}`
            }
        });

        // 自定义全局按键修饰符
        Vue.config.keyCodes.f2 = 113;

        // Vue.directive 定义全局指令
        // 参数1 ：指令的名称。在定义的时候指令名称前不需要加 v- 前缀，但是在调用的时候需要加上
        // 参数2 ：是一个对象
        Vue.directive('focus', { // 自定义获取焦点的指令
            // 注意在每个函数中，第一个参数永远都是 el， 表示被绑定的那个元素, 这个el参数是一个原声的JS对象
            bind : function(el){ // 每当指令绑定到元素上的时候， 会立即执行 bind 函数，之执行一次
                // 在元素刚绑定指令的时候，还没有插入到dom中去，这时候，调用focus方法没起作用，因为一个元素只有在插入dom后才能获取焦点
                //el.focus()
            }, 
            // 和JS行为有关的操作最好在 inserted 中去执行，防止JS行为不生效
            inserted: function(el){ // 元素插入到 dom 中的时候，会执行 inserted 函数 , 触发一次
                el.focus()
            }, 
            updated : function(el){} // 当vnode更新的时候，会执行 updated， 可能会触发多次
        });

        // 自定义设置字体颜色的指令
        Vue.directive('color', {
            // 样式只要通过指令绑定给了元素，不够这个元素有没有被插入到页面中去，这个元素肯定有了一个内联样式，
            // 将来元素肯定会显示到页面中去，这时候，浏览器的渲染引擎必然会解析样式，应用给这个元素
            // 和样式相关的操作一般都可以在 bind 中执行
            bind:function(el, binding){
                el.style.color = binding.value
            }
        })

        var vm = new Vue({
            el : "#app",
            data : {
                id : null,
                name : "",
                keywords : "",
                list :[
                    {id:1, name:"奔驰", Ctime: new Date()},
                    {id:2, name:"宝马", Ctime: new Date()},
                    {id:3, name:"奇瑞", Ctime: new Date()}
                ]
            },
            methods:{
                add(){
                    // 1、获取到id和name，可直接从data上获取
                    // 2、组织出一个对象
                    // 3、把这个对象调用的数组的相关方法，添加到当前data上的list中
                    var car = {id: this.id, name: this.name, Ctime: new Date()}
                    this.list.push(car)
                    this.id = this.name = ""
                },
                del(id){ // 根据id删除数据
                    // 1、 根据id，找到删除这一项的索引
                    // 2、 找到索引后直接调用 splice 方法
                    // 方式一
                    // this.list.some((item,i) =>{    
                    //     if(item.id == id){
                    //         this.list.splice(i, 1)
                    //         // 在数组的some方法中，如果 return true， 就会立即终止这个数组的后续循环
                    //         return true;
                    //     }
                    // })

                    // 方式二 
                    // findIndex 查找索引
                    var index = this.list.findIndex(item => { 
                        if(item.id == id){
                            return true;
                        }
                    })

                    // console.log(index)
                    this.list.splice(index, 1)

                },
                search(keywords){  // 根据关键字进行数据的搜索
                    // 第一种写法
                    // var newList = []
                    // this.list.forEach(item =>{
                    //     if(item.name.indexOf(keywords) != -1){
                    //         newList.push(item)
                    //     }
                    // })
                    // return newList

                    // 第二种写法
                    // 注意 forEach some filter findIndex 这些都属于数组的新方法,都会对数组中的每一项进行遍历，执行相关的操作
                    return this.list.filter(item => {
                        if(item.name.includes(keywords)){
                            return item
                        }
                    })
                }
            }
        });

        var vm2 = new Vue({
            el : "#app2",
            data : {
                dt : new Date()
            },
            methods:{

            },
            filters:{ // 定义私有过滤器 过滤器调用的时候采用的是就近原则，如果私有过滤器和全局过滤器名称重复了，优先调用私有过滤器
                dateFormat:function(dataStr, pattern=""){
                    // 根据给定的实际字符串，得到特定的时间
                    var dt = new Date(dataStr)
                    var y = dt.getFullYear()
                    var m = (dt.getMonth() + 1).toString().padStart(2, '0') // 把数字转换成字符串，字符串的长度为2，不为2就用0在前面补足，在尾部补足用 padEnd
                    var d = dt.getDate()

                    if(pattern.toLowerCase() === "yyyy-mm-dd"){   //  === 表示严格相等
                        return `${y}-${m}-${d}`
                    }else{
                        var hh = dt.getHours().toString().padStart(2, '0') 
                        var mm = dt.getMinutes().toString().padStart(2, '0') 
                        var ss = dt.getSeconds().toString().padStart(2, '0') 
                        return `${y}-${m}-${d} ${hh}:${mm}:${ss}`
                    }
                }
            },
            directives:{ // 自定义私有指令
                'fontweight':{  // 设置字体粗细
                    bind:function(el, binding){
                        el.style.fontWeight = binding.value
                    }
                },
                'fontsize':function(el, binding){ // 这个function 等同于把代码写到了 bind 和 update 中去, 是上面那种方式的简写形式
                    el.style.fontSize = parseInt(binding.value) + 'px' 
                }
            }
        })
        
    </script>
</body>
</html>

